*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 1.75em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: navy;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:navy; }

header {
  background-color: #001A57;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 1.6em;
}

header nav {
  display: flex;
  align-items: center;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

header a:hover {
  color: white;
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    margin-top: 10px;
  }
}



#inicio {
  margin-top: 170px; /* Ajusta el valor del margen superior según la altura del encabezado */
  text-align: center;
}

#inicio h1,
#inicio p {
  margin-bottom: 20px;
}

.slideshow {
  /* Estilos para el carrusel */
}

.motivational-speech {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
 }

#campus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; /* Ajusta el valor del margen superior según la altura del encabezado */
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  height: 100vh;
}

#inscripciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; /* Ajusta el valor del margen superior según la altura del encabezado */
  text-align: center;
  margin-bottom: 100px;
  margin-top: 70px;
  height: 100vh;
}

#historia {
  margin-top: 170px; /* Ajusta el valor del margen superior según la altura del encabezado */
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#historia .texto {
  flex: 1;
  margin-left: 100px;
  line-height: 2;
}

#historia .foto {
  flex: 1;
  margin-left: 20px;
}

#historia .foto img {
  width: 100%;
  height: auto;
}

} 
.programas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.carta {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}

.carta h3 {
  margin-top: 0;
}

.carta p {
  margin-bottom: 10px;
}

.carta button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: navy;
  color: white;
}

.carta button:hover {
  background-color: rgb(101, 33, 165);
}
#Sedes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 3;
}
#equipos {
  text-align: center;
  padding: 100px;
  background-color: #FFFFFF;
  color: #001A57;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 3;
}

#equipos h2 {
  font-size: 26px;
  margin-bottom: 40px;
}

#equipos ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 40px;
  text-align: left;
}

#equipos ul li {
  margin-bottom: 10px;
}

#equipos ul li::before {
  content: "· ";
  display: inline-block;
  margin-right: 5px;
}
#equipos p:last-child {
  margin-bottom: 0;
}

footer {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  text-align: center;
  align-items: flex-end;
    display: flex;

  justify-content: space-between;
}

footer p {
  margin: 0;
  color: navy;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-footer img {
  width: 150px;
  margin-right: 10px;
}

.rights {
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact img {
  width: 50px;
  margin: 0 10px;
  margin-bottom: 30px;
  line-height: 50px;
}
#contacto {
  text-align: center;
  padding: 100px;
  background-color: #FFFFFF;
  color: #001A57;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 3;
}

#contacto h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

#contacto ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 40px;
  text-align: center;
}

#contacto ul li {
  margin-bottom: 30px;
  list-style-type:none
}

#contacto ul li::before {
  content: "· ";
  display: inline-block;
  margin-right: 5px;
}
#contacto p:last-child {
  margin-bottom: 0;
}